body{
	background: rgb(47,40,152);
	background: linear-gradient(90deg, rgba(47,40,152,1) 0%, rgba(0,212,255,1) 95%);
	background-attachment: fixed;

}

#s-div{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 17px 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 485px;
	width: 400px;
	word-wrap: break-word;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

