<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css.css')}}">
	<script data-ad-client="ca-pub-5946424073830043" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<title>Khaoz</title>
</head>
<body>

	<div style="position: absolute; left:16%; top: 10%; transform: translate(-16%,-10%);">
		<div class="popup" onclick="myFunction()"><button onclick="CopyDeck('deck')" id="cc" class="btnes">Copy</button>
	  <span class="popuptext" id="myPopup">Copied!</span>
	</div>		
		<button onClick="window.location.reload(true)" class="btnes">New</button>
		<button onclick="location.replace('https://github.com/Rooyca')" class="btnes">Info</button> 
	</div>

	<div class="div-code">
		<div class="deck-div-all">
			<div class="deck-div-info">
				<div>Code
				</div>
			</div>
			<div id="deck">
				<img src="{{data['url_1']}}" style="width: 30px;">
				<img src="{{data['url_2']}}" style="width: 30px;">
				<br>
				{{data["deck_code"]}}
			</div>
		</div>
	</div>

	<div class="div-cards">
		<div class="deck-div-all-cards">
			<div class="deck-div-info">
				<div>Cards 
				</div>
			</div>
			<div style="text-align: center; padding:20px">
			{% for img in data['img_cards'] %}
	    		<img style="width: 45px;" src="{{img}}">
	    	{% endfor %} 
			</div>
		</div>
	</div>

	<script>
		function CopyDeck(containerid) {
		  if (document.selection) {
		    var range = document.body.createTextRange();
		    range.moveToElementText(document.getElementById(containerid));
		    range.select().createTextRange();
		    document.execCommand("copy");
		    window.getSelection().removeAllRanges();
		  } else if (window.getSelection) {
		    var range = document.createRange();
		    range.selectNode(document.getElementById(containerid));
		    window.getSelection().addRange(range);
		    document.execCommand("copy");
		    window.getSelection().removeAllRanges();
		  }
		}
   </script>

   <script>
	// When the user clicks on div, open the popup
	function myFunction() {
	  var popup = document.getElementById("myPopup");
	  popup.classList.toggle("show");
	}
	</script>

</body>

